<div class="container intro-container">
  <h3>{{ site.about_title | default: "Skill Table" }}</h3>
  <div class="row clearfix">
    <div class="col-md-12 h4 text-center">
    <i>Programming - expert in C/C++/C# but flexible on all other programming languages. <br>An advocate for the concept of teaching C as “Mother of all programming languages”. <br>Profess both firmware and software programming.</i>
    </div>
  </div>
  <div class="col h4">
    <table>
      <tr>
        <td><li>Azure Platform</li></td>
        <td><li>git, Azure DevOps: CI, Pipeline... etc</li></td>
      </tr>
      <tr>
        <td><li>MSSQL: LocalDB, Cloud DB... etc</li></td>
        <td><li>C, C++, C#</li></td>
      </tr>
      <tr>
        <td><li>Python: scipy, TensorFlow... etc</li></td>
        <td><li>Java, JavaScript</li></td>
      </tr>
      <tr>
        <td><li>WebApp: Python Flask</li></td>
        <td><li>LabView</li></td>
      </tr>
      <tr>
        <td><li>STM32, MCU, Firmware design</li></td>
        <td><li>Fluent in English, Manderin, Malay</li></td>
      </tr>
      <tr>
        <td><li>Blockchain, Solidity, Machine Learning, A.I...</li></td>
        <td><li>Fast learner...</li></td>
      </tr>
    </table>
  </div>
</div>
